:root{
    --cor-primaria: #000000;
    --cor-secundaria: #DE15FF;
    --cor-terciaria: #24FF00;
    --cor-alerta: #ff0000;
    --fonte-padrao: 'Courier New', Courier, monospace
}

.campo_contato input, select,.botao__enviar{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-padrao);
    width: 150px;
    height: 30px;
    border: 1px solid var(--cor-secundaria);
    
}

.botao__enviar:hover{
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-padrao);
    border: 3px solid var(--cor-secundaria);
    cursor: pointer;
}

.campo_contato__alinhamento{
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
}