:root{
    --cor-primaria: #000000;
    --cor-secundaria: #DE15FF;
    --cor-terciaria: #24FF00;
    --cor-alerta: #ff0000;
    --fonte-padrao: 'Courier New', Courier, monospace
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-primaria);
    font-family: var(--fonte-padrao);
}

.cabecalho{
    color: var(--cor-terciaria);
}

.cabecalho__titulo{
    display: flex;
    border: 5px solid var(--cor-secundaria);
    justify-content: center;
    padding: 20px;
    margin: 0px;
}

.cabecalho__titulo__h1{
    color: var(--cor-terciaria);
    font-size: 80px;
}

.cabecalho__opcoes{
    display: flex;
    gap: 0;
}

.cabecalho__opcoes_op{
    color: var(--cor-terciaria);
    text-decoration-line:none;
    border: 4px solid var(--cor-secundaria);
    width: 82px;
    padding: 11px;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--fonte-padrao);
}

.cabecalho__opcoes_btn{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    text-decoration-line:none;
    border: 4px solid var(--cor-secundaria);
    width: 82px;
    padding: 11px;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    font-family: var(--fonte-padrao);
}

.conteudo{
    text-align: center;
    color: var(--cor-terciaria);
}

.conteudo__paragrafo{
    font-size: 16px;
    font-weight: 700;
    margin: 50px;
    text-decoration-line:underline;
}

.texto_paragrafo_conteudo__regras{
    
}

.texto_paragrafo_conteudo__regras__cont{
    margin: 13px;
    list-style-type: none;
}

.divisao-conteudo{
    color: var(--cor-terciaria);
    margin: 29px;
}

.conteudo_desafios{
    display: flex;
    flex-wrap: wrap;
}

.conteudo_desafios_desafio{
    border: 2px solid var(--cor-secundaria);
    width: 400px;
    margin: 10px;
    padding: 5px;
}

.conteudo_desafios_desafio_regra{
    list-style-type: none;
    padding-top: 20px;
}

.selecionar_linguagem{
    display: flex;
    gap: 50px;
    justify-content: center;
}


.selecionar_linguagem_botao{
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    border: 3px solid var(--cor-secundaria);
    padding: 60px;
    font-size: 28px;
    cursor: pointer;
}

.alerta_disp_movel{
    display: none;
    color: var(--cor-alerta);
}

.rodape{
    border: 3px solid var(--cor-secundaria);
    color: var(--cor-terciaria);
    text-align: center;
    margin-top: 70px;
    bottom: 0;
    width: 99.5%;
    position: fixed;
    background-color: #000000;
    
}

@media (max-width:1000px){
    .selecionar_linguagem{
        display: inline;
    }
    
    .selecionar_linguagem_botao{
        width: 300px;
        margin-top: 50px;
    }

    .alerta_disp_movel{
        display: block;
        padding: 20px;
    }

    .conteudo_desafios{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}